.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Canvas-main {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.Canvas-toolbar {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.TextEditor-canvas {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.TextEditor-toolbar {
	width: 100%;
	flex-direction: column;
}

.TextEditor-text {
	width: 100%;
	height: 100%;
}

.Paper-canvas {
	width: 100%;
	height: 100%;
}

.PaintEditor-canvas {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.PaintEditor-workarea {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.PaintEditor-sidebar {
	width: 64px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.Sidebar-button {
	width: 94px;
	height: 94px;
}

.Sidebar-button-image {
	width: 64px;
	height: 64px;
}

.Sidebar-button-text {
  font-size: 12px;
}

.ModalEditor-close {
  float: right;
}

.Game-canvas {
	width: 100%;
	height: 100%;
}

.Game-iframe {
	width: 100%;
	height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
