html {
	--ui-gray: #cecece;
	--ui-white: #ffffff;
	--ui-border: 1px solid #969696;
	--ui-dark: #1a1a1a;

	--sidebar-selected-color: #977e7e;
	--border-radius: .25rem;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Toolbar {
	width: 100%;
	height: 3em;
	display: flex;
	flex-direction: row;
	background-color: var(--ui-gray);
	border: var(--ui-border);
	margin-top: 0.2em;
}

.Toolbar-button {
	margin-left: 0.2em;
}

.Toolbar-button-startgroup {
	margin-left: 10em;
}

.Toolbar-big-button {
  display: flex;
  flex-direction: column;
  align-items: center;
	margin-left: 0.5em;
}

.Toolbar-big-button-label {
	font-size: 0.5em;
}

.Toolbar-select-value {
	background-color: var(--ui-white);
	color: var(--ui-dark);
	--ui-border: 1px solid #969696;
}

.Canvas-main {
	width: 100%;
	height: 100%;
	display: flex;
}

.Canvas-overlay {
	width: 100%;
	height: 100%;
	display: flex;
	position: absolute;
	left: 0;
	right: 0;
}

.TextEditor-canvas {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--ui-gray);
}

.TextEditor-text {
	width: 100%;
	height: 100%;
	background-color: var(--ui-white);
}

.Paper-canvas {
	width: 100%;
	height: 100%;
}

.PaintEditor-canvas {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--ui-gray);
}

.PaintEditor-workarea {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	background-color: var(--ui-white);
}

.PaintEditor-sidebar {
	width: 64px;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--ui-gray);
}

.Sidebar-button {
	width: 94px;
	height: 94px;
}

.Sidebar-button-image {
	width: 64px;
	height: 64px;
}

.Sidebar-button-text {
  font-size: 12px;
}

.ModalEditor-close {
  float: right;
}

.Game-hide {
	display: none
}

.Game-show {
	display: flex;
}

.Game-canvas {
	width: 100%;
	height: 100%;
	flex-direction: column;
	background-color: var(--ui-white);
}

.Game-workarea {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	background-color: var(--ui-white);
}

.Game-spritepane {
	width: 128px;
	height: 100%;
	background-color: var(--ui-gray);
	border: var(--ui-border);
}

.Game-iframe {
	width: 100%;
	height: 100%;
}

.Game-spritepane-button {
	width: 94px;
	height: 94px;
	flex-direction: row;
}

.Game-spritepane-button-image {
	width: 64px;
	height: 64px;
}

.Game-spritepane-button-text {
  font-size: 12px;
}

.Game-screen {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
